/.env
/vendor/
/node_modules/
/.idea/
/.vscode/
/storage/cache/*
/storage/logs/*
/storage/pdfs/*
/storage/uploads/*
!/storage/cache/.gitkeep
!/storage/logs/.gitkeep
!/storage/pdfs/.gitkeep
!/storage/uploads/.gitkeep
npm-debug.log*
